/* CSS Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-out;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* UTITLITY CLASSES */
.flex {
  display: flex;
  align-items: center;
}

.center {
  justify-content: center;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

/* MAIN APP */

#app {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

/* START SCREEN */

.container {
  width: 100%;
  height: 100%;
  background: hsl(200, 100%, 30%);
  position: absolute;
  left: 0vw;
}

.start-center {
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 200;
  top: 50vh;
  left: 50vw;
}

.start-button {
  font-size: 40px;
  background-color: hsl(200, 100%, 75%);
  color: black;
  height: 160px;
  width: 160px;
  border-radius: 100%;
  cursor: pointer;
  letter-spacing: 2px;
  z-index: 200;
  transition: 0.1s;
  animation: start-button 2s ease-out 500ms infinite forwards;
  transform-origin: center;
}

.start-button:hover {
  background-color: hsl(200, 100%, 60%);
}

.circle1 {
  border-radius: 50%;
  z-index: 190;
  animation: start-circle 4s ease-out 2s infinite forwards;
}

.circle2 {
  border-radius: 50%;
  z-index: 195;
  animation: start-circle 4s ease-out infinite forwards;
}

@keyframes start-button {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  10% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  20% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    tranform: translate(-50%, -50%) scale(1);
  }
}

@keyframes start-circle {
  0% {
    width: 0px;
    height: 0px;
    background-color: hsla(0, 0%, 100%, 0.15);
  }
  100% {
    width: 100vmin;
    height: 100vmin;
    background-color: hsla(0, 0%, 100%, 0);
  }
}

/* QUESTIONS */

.questions-row {
  top: 100vh;
  left: 0px;
  z-index: 300;
  color: black;
  font-size: 20px;
  font-weight: 600;
  overflow: hidden;
}

.quiz-started {
  top: 0vh;
}

.question-wraper {
  width: 100vw;
  height: 100%;
  flex-shrink: 0;
}

.question-box {
  width: 400px;
  min-height: 500px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  padding: 20px;
  position: relative;
}

.question {
  margin: 10px 0px;
  text-align: justify;
  line-height: 30px;
  letter-spacing: 1px;
  min-width: 100%;
  min-height: 30px;
}

.options {
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 30px 0px;
}

.opt {
  flex-shrink: 0;
  background: hsl(200, 100%, 30%);
  color: white;
  padding: 8px;
  margin: 4px;
  width: 100%;
  min-height: 30px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0s;
}

.selected {
  background-color: hsl(200, 100%, 50%);
}

.unselected {
  background-color: hsl(200, 100%, 30%);
}

.buttons {
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px);
}

.button {
  width: 40%;
  height: 40px;
  cursor: pointer;
}

.prev-button {
  border-radius: 20px 0px 0px 20px;
  position: relative;
  border: 2px solid hsl(0, 0%, 80%);
}

.prev-button::after,
.next-button::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 3px solid hsl(0, 0%, 50%);
  border-width: 3px 3px 0px 0px;
  position: absolute;
  transform: rotate(45deg);
}

.prev-button::after {
  left: 10px;
  transform: rotate(-135deg);
  margin-right: auto;
}

.next-button::after {
  right: 10px;
}

.next-button {
  border-radius: 0px 20px 20px 0px;
  position: relative;
  border: 2px solid hsl(0, 0%, 80%);
  margin-left: auto;
}

.submit-button {
  background-color: hsl(120, 100%, 40%);
  color: white;
}

/* RESULT SCREEN */

.result-screen {
  top: 200vh;
  justify-content: space-evenly;
  font-size: 5vw;
  font-family: monospace;
}

.your-result {
  position: relative;
}

.your-result::after {
  content: "";
  width: 100%;
  height: 100%;
  background: hsl(200, 100%, 30%);
  z-index: 100;
  position: absolute;
  right: 0px;
  animation: typer 3s steps(20) 1s forwards;
}

.your-result::before {
  content: "";
  width: 1%;
  background-color: black;
  height: 100%;
  position: absolute;
  left: 0px;
  z-index: 101;
  animation: cursor 500ms steps(1) alternate 2,
    cursormove 3s steps(20) 1s forwards,
    cursor 500ms steps(1) 4s alternate infinite;
}

.restart-button {
  background-color: hsl(200, 100%, 50%);
  visibility: hidden;
  font-size: 4vw;
  width: 20vw;
  height: 5vw;
  border-radius: 4px;
  overflow: hidden;
  animation: restartbutton 01s 1 4s forwards;
  cursor: pointer;
}

@keyframes restartbutton {
  0% {
    transform: scale(1);
    visibility: visible;
  }

  33% {
    transform: scale(0.8);
  }

  66% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    visibility: visible;
  }
}

@keyframes cursormove {
  100% {
    left: 100%;
  }
}

@keyframes cursor {
  0% {
    background: black;
  }
  50% {
    background: transparent;
  }
  100% {
    background: transparent;
  }
}

@keyframes typer {
  100% {
    width: 0%;
  }
}
