/* CSS Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-out;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* App main */

#app {
  width: 100%;
  height: 100vh;
  background-color: hsl(0, 0%, 15%);
  position: fixed;
  top: 0px;
  left: 0px;
}

/* Start Screen */

.start-screen {
  width: 100%;
  height: 100%;
  background: hsl(200, 100%, 30%);
  position: absolute;
  top: 0vh;
  left: 0vh;
}

.start-screen-up {
  top: -100vh;
}

.start-center {
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 200;
  top: 50vh;
  left: 50vw;
}

.start-button {
  font-size: 40px;
  background-color: hsl(200, 100%, 75%);
  color: black;
  height: 160px;
  width: 160px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  letter-spacing: 2px;
  z-index: 200;
  transition: 0.1s;
}

.start-button:hover {
  background-color: hsl(200, 100%, 60%);
}

.circle1 {
  border-radius: 50%;
  z-index: 190;
  animation: start-circle 4s ease-out 2s infinite forwards;
}

.circle2 {
  border-radius: 50%;
  z-index: 195;
  animation: start-circle 4s ease-out infinite forwards;
}

@keyframes start-circle {
  0% {
    width: 0px;
    height: 0px;
    background-color: hsla(0, 0%, 100%, 0.15);
  }
  100% {
    width: 100vmin;
    height: 100vmin;
    background-color: hsla(0, 0%, 100%, 0);
  }
}

/* Questions */
.questions-row {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 100vh;
  left: 0px;
  z-index: 300;
  background: hsl(200, 100%, 30%);
  color: black;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.quiz-started {
  top: 0vh;
}

.question-wraper {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.question-box {
  width: 400px;
  min-height: 400px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  padding: 18px;
}

.question {
  margin: 10px 0px;
  text-align: justify;
  line-height: 30px;
  letter-spacing: 1px;
  min-width: 100%;
  min-height: 30px;
}

.options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px 0px;
}

.opt {
  flex-shrink: 0;
  background: hsl(200, 100%, 50%);
  color: white;
  padding: 8px;
  margin: 4px;
  min-width: calc(50% - 8px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  transition: 0s;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}

.button {
  width: 40%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.prev-button {
  border-radius: 20px 0px 0px 20px;
  position: relative;
  border: 2px solid hsl(0, 0%, 80%);
}

.prev-button::after,
.next-button::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 3px solid hsl(0, 0%, 50%);
  border-width: 3px 3px 0px 0px;
  position: absolute;
  transform: rotate(45deg);
}

.prev-button::after {
  left: 10px;
  transform: rotate(-135deg);
  margin-right: auto;
}

.next-button::after {
  right: 10px;
}

.next-button {
  border-radius: 0px 20px 20px 0px;
  position: relative;
  border: 2px solid hsl(0, 0%, 80%);
  margin-left: auto;
}

.submit-button {
  background-color: hsl(120, 100%, 40%);
  color: white;
}
